In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('Market_Basket_Optimisation.csv')

In [3]:
df.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.isnull().sum()

shrimp                  0
almonds              1754
avocado              3112
vegetables mix       4156
green grapes         4972
whole weat flour     5637
yams                 6132
cottage cheese       6520
energy drink         6847
tomato juice         7106
low fat yogurt       7245
green tea            7347
honey                7414
salad                7454
mineral water        7476
salmon               7493
antioxydant juice    7497
frozen smoothie      7497
spinach              7498
olive oil            7500
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   shrimp             7500 non-null   object
 1   almonds            5746 non-null   object
 2   avocado            4388 non-null   object
 3   vegetables mix     3344 non-null   object
 4   green grapes       2528 non-null   object
 5   whole weat flour   1863 non-null   object
 6   yams               1368 non-null   object
 7   cottage cheese     980 non-null    object
 8   energy drink       653 non-null    object
 9   tomato juice       394 non-null    object
 10  low fat yogurt     255 non-null    object
 11  green tea          153 non-null    object
 12  honey              86 non-null     object
 13  salad              46 non-null     object
 14  mineral water      24 non-null     object
 15  salmon             7 non-null      object
 16  antioxydant juice  3 non-null      object
 17  frozen smoothie    3 non-null      object
 18  spinach            2 non-null      object
 19  olive oil          0 non-null      float64
dtypes: float64(1), object(19)
memory usage: 1.1+ MB

In [6]:
df=df.fillna(0)

In [9]:
transactions=[]
for i in range(len(df)):
    transactions.append([str(df.values[i,j]) for j in range(0,20) if str(df.values[i,j])!='0'])

In [10]:
transactions[0]

['burgers', 'meatballs', 'eggs', '0.0']

In [11]:
!pip install apyori

  DEPRECATION: Building 'apyori' using the legacy setup.py bdist_wheel mechanism, which will be removed in a future version. pip 25.3 will enforce this behaviour change. A possible replacement is to use the standardized build interface by setting the `--use-pep517` option, (possibly combined with `--no-build-isolation`), or adding a `pyproject.toml` file to the source tree of 'apyori'. Discussion can be found at https://github.com/pypa/pip/issues/6334

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py): started
  Building wheel for apyori (setup.py): finished with status 'done'
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5975 sha256=865475c5559a01152fc11a40468be81ff40fa9da4ec878ae4529227e9d08c63a
  Stored in directory: c:\users\rajir\appdata\local\pip\cache\wheels\4d\9f\d0\7ba4ae3f5de2f76ea362170ea0f157e6cc1d1b9aea188175f2
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [12]:
from apyori import apriori
rules=apriori(transactions,min_support=0.003,min_confidance=0.2,min_lift=3,min_length=2)
result=list(rules)
d=pd.DataFrame(result)
d.head()

,items,support,ordered_statistics
0,"(brownies, cottage cheese)",0.003467,"[((brownies), (cottage cheese), 0.102766798418..."
1,"(chicken, light cream)",0.004533,"[((chicken), (light cream), 0.0755555555555555..."
2,"(escalope, mushroom cream sauce)",0.005733,"[((escalope), (mushroom cream sauce), 0.072268..."
3,"(pasta, escalope)",0.005867,"[((escalope), (pasta), 0.07394957983193277, 4...."
4,"(fresh bread, tomato juice)",0.004267,"[((fresh bread), (tomato juice), 0.09907120743..."

In [13]:
support=d.support
first_values=[]
second_values=[]
third_values=[]
fourth_values=[]
for i in range(d.shape[0]):
  single_list=d['ordered_statistics'][i][0]
  first_values.append(list(single_list[0]))
  second_values.append(list(single_list[1]))
  third_values.append(single_list[2])
  fourth_values.append(single_list[3])

In [14]:
lhs=pd.DataFrame(first_values)
rhs=pd.DataFrame(second_values)
confidence=pd.DataFrame(third_values,columns=['confidance'])
lift=pd.DataFrame(fourth_values,columns=['lift'])

In [15]:
df_final=pd.concat([lhs,rhs,support,confidence,lift],axis=1)
df_final

,0,1,0,1,2,3,support,confidance,lift
0,brownies,None,cottage cheese,None,None,None,0.003467,0.102767,3.238450
1,chicken,None,light cream,None,None,None,0.004533,0.075556,4.843305
2,escalope,None,mushroom cream sauce,None,None,None,0.005733,0.072269,3.790327
3,escalope,None,pasta,None,None,None,0.005867,0.073950,4.700185
4,fresh bread,None,tomato juice,None,None,None,0.004267,0.099071,3.273278
...,...,...,...,...,...,...,...,...,...
183,ground beef,pancakes,spaghetti,mineral water,0.0,None,0.003067,0.211009,3.532520
184,ground beef,None,spaghetti,mineral water,0.0,tomatoes,0.003067,0.031208,3.343671
185,olive oil,None,spaghetti,0.0,mineral water,milk,0.003333,0.050710,3.223089
186,mineral water,milk,spaghetti,0.0,shrimp,None,0.003067,0.063889,3.013627
187,tomatoes,None,spaghetti,0.0,mineral water,milk,0.003333,0.048733,3.097433

In [18]:
def inspect(results):
  lhs=[tuple(i[2][0][0])[0] for i in result]
  rhs=[tuple(i[2][0][1])[0] for i in result]
  support=[i[1] for i in results]
  confidence=[i[2][0][2] for i in result]
  lift=[i[2][0][3] for i in result]
  return list(zip(lhs,rhs,support,confidence,lift))
d=pd.DataFrame(inspect(result),columns=['Item1','Item2','Support','confidence','lift'])
d

             Item1                 Item2   Support  confidence      lift
0         brownies        cottage cheese  0.003467    0.102767  3.238450
1          chicken           light cream  0.004533    0.075556  4.843305
2         escalope  mushroom cream sauce  0.005733    0.072269  3.790327
3         escalope                 pasta  0.005867    0.073950  4.700185
4      fresh bread          tomato juice  0.004267    0.099071  3.273278
..             ...                   ...       ...         ...       ...
183    ground beef             spaghetti  0.003067    0.211009  3.532520
184    ground beef             spaghetti  0.003067    0.031208  3.343671
185      olive oil             spaghetti  0.003333    0.050710  3.223089
186  mineral water             spaghetti  0.003067    0.063889  3.013627
187       tomatoes             spaghetti  0.003333    0.048733  3.097433

[188 rows x 5 columns]

In [20]:
d.nlargest(n=10,columns='lift')

             Item1              Item2   Support  confidence      lift
70       olive oil  whole wheat pasta  0.003867    0.058824  6.127451
121      olive oil  whole wheat pasta  0.003867    0.058824  6.127451
6    fromage blanc              honey  0.003333    0.245098  5.178128
18   fromage blanc                0.0  0.003333    0.245098  5.178128
61     ground beef          spaghetti  0.003067    0.031208  4.979936
112    ground beef          spaghetti  0.003067    0.031208  4.979936
1          chicken        light cream  0.004533    0.075556  4.843305
13         chicken                0.0  0.004533    0.075556  4.843305
3         escalope              pasta  0.005867    0.073950  4.700185
15        escalope              pasta  0.005867    0.073950  4.700185